# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Development/tmp/pids/server.pid

Development/tmp/cache/assets/development/sprockets/d771ace226fc8215a3572e0aa35bb0d6

Development/log/development.log

Development/log/development.log

Development/tmp/cache/assets/development/sprockets/754c1706ca96fd604f3e0de7214db356

Development/log/development.log

Development/log/development.log

Development/tmp/cache/assets/development/sprockets/13fe41fee1fe35b49d145bcc06610705

Development/tmp/cache/assets/development/sprockets/357970feca3ac29060c1e3861e2c0953

Development/tmp/cache/assets/development/sprockets/542c644f8965b6ebd2fc3d00694529c3

Development/tmp/cache/assets/development/sprockets/d771ace226fc8215a3572e0aa35bb0d6

Development/tmp/cache/assets/development/sprockets/971c90481cab3467c2ea798203622b0b

Development/tmp/pids/server.pid

Development/tmp/cache/assets/development/sprockets/13fe41fee1fe35b49d145bcc06610705

Development/tmp/cache/assets/development/sprockets/357970feca3ac29060c1e3861e2c0953

Development/tmp/cache/assets/development/sprockets/d771ace226fc8215a3572e0aa35bb0d6
